<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
	
	<servlet>
		<servlet-name>MyDispatcher</servlet-name>
		<servlet-class>com.web.controllers.MyDispatcher</servlet-class>
		
		<init-param>
			<param-name>ControllerPath</param-name>
			<param-value>D:\jsp\proj_Train\WebContent\WEB-INF\urlMap.txt</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MyDispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
</web-app>
